:root {
    font-family: "Source Code Pro", monospace, system-ui;
    font-size: 14pt;
    background-color: #0f0f23;
    color: #cccccc;
}

a {
    color: #009900;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #99ff99;
}

header {

    #me {
        display: flex;

        h1 {
            font-size: 4em;
            margin: 0 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin: 0 5px;
            }
        }
    }

    #desc {
        margin: 0;
    }
}

#projects {
    ul {
        list-style-type: none;
    }
}
