:root {
    font-family: "Source Code Pro", monospace, system-ui;
    font-size: 1.5em;
    background-color: #0f0f23;
    color: #cccccc;
}

a {
    color: #009900;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #99ff99;
}

#name {
    font-size: 4em;
    margin: 0;
}

#desc {
    margin: 20px 0;
}
